:root {
    --red: #ea5353ff;
    --cyan: #45d3d3ff;
    --orange: #fcaf4aff;
    --blue: #549ef2ff;
    --grey-500: #4c4e61ff;
    --grey-400: #697077ff;
    --white: #ffffffff;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-color: #FAFAFA;
}

.container {
    padding: 2rem;
}

.features-header {
    text-align: center;
    margin-block-end: 3rem;
}

h1,
h2,
h3 {
    color: var(--grey-500);
}

.title,
.subheader {
    margin: 0;
    font-size: 1.5rem;
}

.subheader {
    font-weight: 200;
    color: var(--grey-500);
}



p {
    color: var(--grey-400);
    font-size: 0.9rem;
}

.features {
    display: grid;
    gap: 2rem;
}

.card {
    border-radius: 0.5rem;
    background-color: var(--white);
    box-shadow: 5px 5px 11px var(--grey-400);
    padding: 1rem;
}

.card-icon {
    text-align: end;
}

.card.supervisor {
    border-block-start: 6px solid var(--cyan);
}

.card.team-leader {
    border-block-start: 6px solid var(--red);
}

.card.karma {
    border-block-start: 6px solid var(--orange);
}

.card.calculator {
    border-block-start: 6px solid var(--blue);
}

@media(min-width: 64rem) {
    .container {
        padding: 8rem;
    }

    .title,
    .subheader {
        font-size: 2rem;
    }

    .features {

        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        align-items: center;
    }

    .card.supervisor {
        grid-column: 1 / 2;
        grid-row: 1 / -1;
    }

    .card.karma {
        grid-column: 2 / 3;
    }

    .card.calculator {
        grid-column: 3/4;
        grid-row: 1/-1;
    }
  
}